


.dark-mode{
    background-color: rgb(211, 0, 0);
    color: rgb(255, 255, 255);

}
section{
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: rgb(221, 0, 0);
    font-style: italic;
}
form{
display: flex;
flex-direction: column;
padding: 50px;


}
input{
margin-bottom:  10px; ;
}
button{
margin-top: 10px;
background-color: rgb(255, 255, 255);
border-radius: 20px;

}
body{
background-color: rgb(255, 255, 255);
transition: background-color 2s , color 2s ;

}